@use '../../styles/theme' as Theme;
@use '../../styles/utils' as Utils;

.migrushButton {
    @include Utils.flexCenter();
    @include Theme.grayScaleColor(100);
    @include Utils.buttonReset();
    @include Theme.borderRadius();
    padding: 1rem;
    background-color: Theme.$accent;
    box-sizing: border-box;
    gap: 1rem;

    & > p {
        margin: 0;
        font-weight: bold;
        font-size: 1rem;
    }

    &:hover {
        background-color: Theme.accentDark(1);
        transition: all 0.2s ease-in;
    }
}
