@use '../../styles/utils' as Utils;
@use '../../styles/theme' as Theme;

.migRushTextField {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 1rem;
}

.label {
    align-self: flex-start;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease-in;
    order: -1;
}

// Animation Of Label When Textfield is focus
.textfield:focus + .label {
    transform: translateX(-1rem);
}

.textfield {
    @include Utils.inputReset();
    @include Theme.grayScaleColor(0);
    @include Theme.borderRadius();
    background-color: Theme.primaryLight(1);
    font-size: 24px;
    font-weight: 100;
    transition: all 0.2s ease-in;
    padding: 1rem;

    &:focus {
        background-color: Theme.primaryLight(3);
    }
}
