@use '../theme/theme' as theme;
@forward './awn.scss';
@include theme.css-reset;

body {
    margin: 0;
    height: 100vh;
    font-family: 'Assistant', sans-serif;
}

#root {
    height: 100%;
}

// .safe-mode {
//     *[data-safe] {
//         filter: blur(2px);
//     }
// }

*[data-hidden='all'] {
    display: none;
}

@media (max-width: 800px) {
    *[data-hidden='mobile'] {
        display: none;
    }
}

@media (min-width: 800px) {
    *[data-hidden='desktop'] {
        display: none;
    }
}
